.App-footer {
    background-color: #4CAF50;
    padding: 10px;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  .App-footer a {
    color: white;
    text-decoration: none;
  }
  
  .App-footer a:hover {
    text-decoration: underline;
  }